@charset "UTF-8";

@import "variables";
@import "mixins";
@import "base";
@import "pages";

body {
    font-family: 'Fira Sans', sans-serif;    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout {
    // padding: 20px 40px;
}