.tabs {
    // lost-utility: edit;    
    lost-utility: clearfix;
    margin-top: 80px;
    .tabs_container {
        lost-offset: 2/10;
        lost-column: 6/10;
    }
    h1 {
        font-size: 46px;
        color: #30363E;
        letter-spacing: 2px;
        font-weight: 700;
        text-align: center;
        margin: 0;
    }
    .tabs_separate {
        font-size: 60px;
        color: #4E46EE;
        letter-spacing: 2px;
        margin-top: 20px;
        font-weight: 700;
        text-align: center;
    }
    .tabs_content {
        // background: #EEEEEE;
        // border-radius: 3px;
        padding: 30px;
        lost-utility: clearfix;
        position: relative;
        // margin-top: 200px;
        .container_menu {
            h2 {
                color: #30363E;
                font-size: 16px;
                letter-spacing: 1px;
                font-weight: 600;
                margin: 0;
                cursor: pointer;
                margin-right: 40px;
                // margin-bottom:20px;
                display: inline-block;
                position: relative;
                &.active {
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        height: 1px;
                        width: 100%;
                        background: #30363E;
                        left: 0;
                    }
                }
            }
        }
        .container_text {
            // padding-top: 200px;
            background: #EEEEEE;
            border-radius: 3px;
            padding: 40px;
            h4 {
              font-size: 24px;
              letter-spacing: 1px;
              text-decoration: underline;
              margin: 0px;
              margin-bottom: 40px;
            }
            div {
                font-size: 22px;
                letter-spacing: .5px;
                line-height: 40px;
                font-style: italic;
            }
            button {
                margin-top: 20px;
                height: 40px;
                background: transparent;
                border-radius:2px;
                color: #000;
                font-weight: 600;
                font-size: 14px;
                padding: 0 20px;
                line-height: 40px;
                letter-spacing: 1px;
                border: 2px solid #000;
            }
        }
    }
}

@media (max-width:640px){
    .tabs {
        margin-top: 60px;
        .tabs_container {
            lost-column: 1/1;
        }
        
        .tabs_content {
            padding: 0;
            .container_menu {
                h2 {
                    font-size: 11px;
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    margin-right: 15px;
                    position: relative;
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }   
}


@media (min-width: 470px) and (max-width:650px){
    .tabs {
        margin-top: 80px;
        .tabs_container {
            lost-column: 1/1;
        }
        
        .tabs_content {
            padding: 0;
            .container_menu {
                h2 {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    margin-right: 20px;
                    position: relative;
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }   
}

@media (min-width: 651px) and (max-width:720px){
    .tabs {
        margin-top: 80px;
        .tabs_container {
            lost-offset: 1/10;
            lost-column: 8/10;
        }
        
        .tabs_content {
            padding: 0;
            .container_menu {
                h2 {
                    font-size: 13px;
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    margin-right: 20px;
                    position: relative;
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }   
}

@media (min-width: 721px) and (max-width:1300px){
    .tabs {
        margin-top: 80px;
        .tabs_container {
            lost-offset: 1/10;
            lost-column: 8/10;
        }
        
        .tabs_content {
            padding: 0;
            .container_menu {
                h2 {
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    margin-right: 30px;
                    position: relative;
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }   
}