@import "../../assets/scss/init";

.topbar {
    height: 50px;
    // background: #F5F4E8;
    @include clearfix;
    padding: 0 20px;
    border-bottom: 1px solid  rgba(255, 255, 255, .1 );
    .topbar_menu {
        display: none;
    }
    .topbar_logo {
        background: url('./logo.png');
        background-size:cover;
        display: inline-block;
        width: 105px;
        height: 24px;
        margin-top: 13px;
        position: absolute;
        left: 50%;
        margin-left: -52px;
    }
    .topbar_calendar {
        float: left;
        line-height: 50px;
        span {
            vertical-align: middle;
            margin-right: 10px;
        }
        h5 {
            margin: 0;
            display: inline-block;
            font-weight: 400;
            color: #fff;
            font-size: 14px;
        }
        button {
            display: inline-block;
            margin-left: 20px;
            background: #59C25B;
            color: white;
            height: 30px;
            font-size: 13px;
            border: none;
            padding: 0 20px;
            border-radius: 2px;
            font-weight: 600;
        }
    }
    .topbar_meta {
        float: right;
        .meta_social {
            display: inline-block;
            margin-left: 30px;
            .social {
                height:50px;
                line-height:50px;
                margin-right: 30px;
                vertical-align: middle;
            }
        }
        .meta_languages {
            // margin-top: 10px;
            display: inline-block;
            .languages_container {
                height: 30px;
                background: #393849;
                border-radius:2px;
                color: white;
                font-weight: 600;
                font-size: 14px;
                padding: 0 20px;
                line-height: 30px;
                letter-spacing: 1px;
            }
        }
    }
}

@media (max-width: 800px) {
    .topbar {
        .topbar_menu {
            display: inline-block;
            float: left;
            margin-top: 15px;
        }
        .topbar_logo {
            background: url('./logo.png');
            background-size:cover;
            display: inline-block;
            width: 105px;
            height: 24px;
            margin-top: 13px;
            position: absolute;
            left: 50%;
            margin-left: -52px;
        }
        .topbar_calendar {
            display: none;
        }
        .topbar_meta {
            display: none;
        }
    }
  }