@import "../../assets/scss/init";

.topbar {
    height: 50px;
    // background: #F5F4E8;
    @include clearfix;
    padding: 0 20px;
    border-bottom: 1px solid  rgba(255, 255, 255, .1 );
    .mobile_content {
        width: 320px;
        position: absolute;
        left: 0;
        top: 30px;
        background: #20202C;
        // height: 300px;
        opacity: 0;
        @include transition(.3s);
        left: -320px;
        &.active {
            opacity: 1;
            left: 0px;
        }
        .content_menu {
            margin-top: 30px;
            a {
                color: white;
                display: block;
                text-align: left;
                font-size: 14px;
                padding: 20px;
                text-transform: capitalize;
                font-weight: 600;
                letter-spacing: .5px;
                position: relative;
                z-index: 9999999;
            }
        }
    }
    .menu_mobile {
        display: none;
        cursor: pointer;
        margin-top: 15px;
        position: relative;
        .topbar_menu {
            float: left;
        }
    }
    .topbar_logo {
        background: url('./logo.png');
        background-size:cover;
        display: inline-block;
        width: 105px;
        height: 24px;
        // margin-top: -13px;
        // position: absolute;
        // left: 50%;
        // top: 13px;
        // margin-left: -52px;
        margin-left: 20px;
        float: left;
        margin-top: 13px;
    }
    .topbar_calendar {
        float: left;
        line-height: 50px;
        span {
            vertical-align: middle;
            margin-right: 10px;
        }
        h5 {
            margin: 0;
            display: inline-block;
            font-weight: 400;
            color: #fff;
            font-size: 14px;
        }
        button {
            display: inline-block;
            margin-left: 20px;
            background: #59C25B;
            color: white;
            height: 30px;
            font-size: 13px;
            border: none;
            padding: 0 20px;
            border-radius: 2px;
            font-weight: 600;
        }
    }
    .meta_languages_mobile {
        display: none;
        position: relative;
        top: -60px;
    }
    .topbar_meta {
        float: right;
        .meta_social {
            display: inline-block;
            margin-left: 30px;
            .social {
                height:50px;
                line-height:50px;
                margin-right: 30px;
                vertical-align: middle;
            }
        }

        .meta_languages {
            // margin-top: 10px;
            
            .languages_container {
                height: 30px;
                cursor: pointer;
                background: #393849;
                border-radius:2px;
                color: white;
                font-weight: 600;
                font-size: 14px;
                padding: 0 20px;
                line-height: 30px;
                letter-spacing: 1px;
            }
        }
    }
}

@media (max-width: 800px) {
    .topbar {
        .menu_mobile {
            display: block;
        }
        .topbar_logo {
            background: url('./logo.png');
            background-size:cover;
            display: inline-block;
            width: 105px;
            height: 24px;
            margin-top: 0px;
            position: absolute;
            left: 50%;
            margin-left: -52px;
            top: 11px;
        }
        .topbar_calendar {
            display: none;
        }
        .topbar_meta {
            display: none;
        }
        .meta_languages_mobile {
            display: block;
            float: right;
            margin-right: 0;
            margin-top: -7px;
            top: 0px;
            .languages_container {
                height: 30px;
                cursor: pointer;
                padding: 0 20px;
                border-radius: 2px;
                background: #393849;
                color: #fff;
                .languageSwitcher {
                    position: static;
                    .close {
                        height: 26px;
                        width: 26px;
                        padding: 0;
                        margin-top: -35px;
                        line-height: 36px;
                        svg {
                            stroke-color: #333;
                            fill: #333;
                        }
                    }
                  .languageSwitcher_current {
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 30px;
                  }
                  .languageSwitcher_dropdown {
                      position: fixed;
                      width: 320px;
                      left: 50%;
                      top: 50px;
                      margin-left: -170px;
                      height: 500px;
                      bottom: 0;
                      overflow: scroll;
                      h5 {
                          margin: 0;
                          text-align: left;
                          margin-left: 5px;
                          border-bottom: 1px solid #ece6e6;
                          padding-bottom: 10px;
                          text-transform: uppercase;
                          letter-spacing: .5px;
                          color: #bcbcbc;
                          font-size: 13px;
                          font-weight: 700;
                      }
                      button {
                          height: 50px;
                          line-height: 50px;
                          font-size: 15px;
                          font-weight: 600;
                          margin-bottom: 10px;
                      }
                  }
                }
            }
        }
    }
  }