.hero {
    background: url('../../assets/images/homeback.png');
    background-repeat:no-repeat;
    background-size: cover;  
    background-position: bottom center;
    padding-bottom: 80px;
    // lost-utility: edit;    
    min-height: 600px;
    lost-utility: clearfix;
    .hero_wrapper {
        // text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
        padding-left: 40px;
        // padding-right: 40px;
        // lost-offset: 1/10;
        lost-column: 5/10;
    }
    .hero_title {
        font-size: 46px;
        margin-bottom: 20px;
        letter-spacing: 2px;
        margin-top: 0;
        font-weight: 800;
        color: #fff;
        i {
            font-weight: 400;
        }
    }
    .hero_tagline {
        font-size: 46px;
        color: #fff;
        letter-spacing: 2px;
        margin-top: 80px;
        line-height: 60px; 
        font-weight: 800;
        i {
            font-weight: 400;
        }  
    }
    .hero_meta {
        // margin-top: 60px;
        lost-utility: clearfix;
    }
        // lost-align: center; 
        // lost-utility: clearfix;
        .meta_desc {
            // lost-offset: 1/3;
            // lost-column: 1/3;
        }
        h4 {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            line-height: 30px;
            letter-spacing: .5px;
            margin-bottom: 40px;
        }
        a {
            display: inline-block;
            height: 40px;
            background: #59C25B;
            border-radius:2px;
            color: white;
            font-weight: 600;
            font-size: 14px;
            padding: 0 20px;
            line-height: 40px;
            letter-spacing: 1px;
            border: 2px solid #59C25B;
        }
        .inline {
            margin-left: 10px;
            background: transparent;
            border: 2px solid white;
        }
    }


.hero_data {
    lost-utility: clearfix;
    .data_wrapper {
        lost-column: 4/10;
        lost-offset: 1/10;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .data {
        lost-column: 1/3;
        h3, h5 {
            margin: 0;
            // text-align: center;
            color: white;
        }
        h3 {
            font-size: 46px;
            font-weight: 800;
            letter-spacing: 2px;
            line-height: 60px;
        }
        h5 {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            margin-top: 5px;
        }
    }
}

.hero_feed {
    lost-utility: clearfix;
    lost-column: 4/10;
    // lost-offset: 1/10;
    padding-top: 80px;
    margin-top: 60px;
    .feed_document {
        height: 50px;
        border-radius: 3px;
        background: #F5F5E9;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
        padding: 0 10px;
        lost-utility: clearfix;
    }
    h5 {
        margin: 0;
        line-height: 50px;
        font-size: 15px;
        font-weight: 500;
        display: inline-block;
    }
    span {
        display: inline-block;
        vertical-align: SUB; 
        height: 50px;
        line-height: 50px;
        margin-right: 10px;
    }
    .feed_actions {
        float: right;
        margin-top: 0px;
        button {
            height: 30px;
            margin-top: 10px;
            border: none;
            margin-left: 10px;
            font-size: 13px;
            &.good {
                background: #59C25B;
                border-radius: 2px;
                color: white;
                font-weight: 600;
                letter-spacing: 1px;
            }
            &.inline {
                text-decoration: underline;
                font-weight: 600;
                background: transparent;
            }
        }
    }
}

@media (max-width: 800px) {
    .hero {
        // lost-utility: edit;    
        padding: 40px 20px;
        .hero_wrapper {
            lost-column: 1/1;
            margin-top: 0;
            padding-top: 0px;
        }
        .hero_tagline {
            font-size: 40px;
            line-height: 55px; 
        }
        .hero_meta {
            lost-utility: clearfix;
        }
    }
    

    .hero_feed {
        display: none; 
    }
}