@import "../../assets/scss/mixins";

.pin {
    .pin_circle {
        margin: 0 auto;
        display: block;
    }
    h5 {
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0px;
        color: #000;
        line-height: 14px;
        display: block;
        margin: 0;
        margin-top: 5px;
    }
}

.bigImage {
    lost-utility: clearfix;
    // lost-utility: edit; 
    margin-top: 40px;  
    position: relative;
    h1 {
        display: inline-block;
        // text-align: center;
        position: relative;
        font-weight: 300;
        font-style: italic;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        color: #333;
        lost-offset: 1/8;
        lost-column: 3/4;

        b {
            font-style: normal;
        }
    }
    .bigImage_wrapper {
        lost-column: 1/1;
        position: relative;
        height: 300px;
        margin-top: 40px;
    }
    .bigImage_info {
        background: url('../../assets/images/decide.png');
        background-size: cover;
        height: 360px;
        padding: 40px;
        padding-bottom: 0;
        position: relative;
        z-index: 9;
        .bigimage_desc {
            lost-column: 5/7;
            lost-offset: 1/7;
            lost-align: center;
            font-size: 18px;
            letter-spacing: .5px;
            color: white;
        }
        .bigImage_meta {
            lost-column: 1/1;
            text-align: center;
            margin-top: 20px;
            h2 {
                font-size: 36px;
                font-weight: 700;
                color: white;
            }
        }
    }
}

@include breakpoint-md {
    .bigImage {
        margin-top: 0px !important;  
        padding: 40px 20px;
        h1 {
            font-size: 24px;
        }
        .bigImage_wrapper {
            lost-column: 1/1;
        }
        .wrapper_overlay {
            display: none;
        }
        .wrapper_info {
            height: 600px;
            .bigimage_desc {
                lost-column: 1/1;
                font-size: 18px;
                letter-spacing: .5px;
            }
            .bigImage_meta {
                lost-column: 1/1;
                margin-top: 10px;
                h2 {
                    margin-top: 20px;
                    font-size: 25px;
                }
            }
        }
    }
}
