.bigImage {
    lost-utility: clearfix;
    // lost-utility: edit; 
    margin-top: 40px;  
    position: relative;
    text-align: center;
    h1 {
        display: inline-block;
        text-align: center;
        border: 1px solid #30363E;
        padding: 0px 40px;
        border-radius: 2px;
        margin-bottom: 80px;
        position: relative;
        font-weight: 300;
        font-style: italic;
        height: 74px;
        line-height: 74px;
        b {
            font-style: normal;
        }
        &:after {
            position: absolute;
            content: "";
            width: 1px;
            height: 82px;
            background: #30363E;
            left: 50%;
            top: 74px;
        }
    }
    .bigImage_wrapper {
        // margin-top: 40px;
        lost-offset: 1/8;
        lost-column: 3/4;
        position: relative;
        
    }
    .wrapper_info {
        background: url('../../assets/images/decide.png');
        background-size: cover;
        height: 360px;
        padding: 40px;
        padding-bottom: 0;
        position: relative;
        z-index: 9;
    
        // h1 {
        //     lost-column: 3/5;
        //     lost-offset: 1/5;
        //     margin-top: 0;
        //     color: white;
        //     font-size: 46px;
        //     letter-spacing: 2px;
        //     line-height: 60px;
        //     font-weight: 300;
        //     font-style: italic;
        //     b {
        //         font-weight: 700;
        //         font-style: normal;
        //     }
        // }
        .bigimage_desc {
            lost-column: 5/7;
            lost-offset: 1/7;
            lost-align: center;
            font-size: 18px;
            letter-spacing: .5px;
            color: white;
        }
        .bigImage_meta {
            lost-column: 1/1;
            text-align: center;
            margin-top: 20px;
            h2 {
                font-size: 36px;
                font-weight: 700;
                color: white;
            }
        }
    }
}
.wrapper_overlay {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: -40px;
    background: rgb(45, 67, 108);
    display: block;
    z-index: 1;
    // lost-offset: 1/8;
    // lost-column: 3/4;
}

@media (max-width: 800px) {
    .bigImage {
        // lost-utility: edit; 
        margin-top: 0px;  
        padding: 40px 20px;
        h1 {
            font-size: 24px;
        }
        .bigImage_wrapper {
            lost-column: 1/1;
        }
        .wrapper_overlay {
            display: none;
        }
        .wrapper_info {
            height: 600px;
            .bigimage_desc {
                lost-column: 1/1;
                font-size: 18px;
                letter-spacing: .5px;
            }
            .bigImage_meta {
                lost-column: 1/1;
                margin-top: 10px;
                h2 {
                    margin-top: 20px;
                    font-size: 25px;
                }
            }
        }
    }
}