.cta {
    margin-top: 100px;
    // lost-utility: edit;    
    lost-utility: clearfix;
    h1 {
        lost-offset: 1/10;
        lost-column: 8/10;
        font-size: 32px;
        font-weight: 700;
        color: #2A3D62;
    }
    div {
    lost-offset: 1/10;
    lost-column: 6/10;
     font-size: 26px;
     font-style: italic;
     font-weight: 200;
     line-height: 40px;   
     letter-spacing: 0px;
     color: #2A3D62;
    }
    a {
        lost-offset: 1/10;
        lost-column: 8/10;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        display: block;
        margin-top: 40px;
        color: #30353E;
    }
}