@import "../../assets/scss/mixins";
.todo {
    margin-top: 100px;
    padding-bottom: 60px;
    lost-utility: clearfix;
    // lost-utility: edit; 
    .todo_wrapper {
        lost-offset: 1/10;
        lost-column: 8/10;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;  
    }
    .wrapper_info {
     lost-column: 4/5;
     margin-top: 50px;
        h1 {
            font-size: 46px;
            line-height: 35px;
            margin: 0;
            color: #30363E;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                height: 4px;
                width: 40px;
                background: #59C25B;
                border-radius: 20px;
                bottom: -20px;
            }
        }
        .info_desc {
            color: #30363E;
            margin-top: 40px;

        }
    }
    .wrapper_todo {
        lost-column: 1/1;
        margin-top: 50px;
        .todo_item {
            // height: 50px;
            background: #F3F3F3;
            border-radius: 3px;
            padding: 10px 20px;
            line-height: 50px;
            margin-bottom: 10px; 
            box-shadow: 0 2px 4px rgba(0,0,0,.15);
            lost-utility: clearfix;
            span {
              float: left;
              line-height: 20px;
            }
            .item_checkbox {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                box-shadow: 0 2px 4px rgba(0,0,0,.1);
                float: left;
                background: white;
                margin: 0;
            }
            h5 {
                margin: 0;
                margin-left: 10px;
                line-height: 24px;
                float: left;
                width: 90%;
            }
        }
    }
}

@include breakpoint-md {
    .todo {
        margin-top: 50px;
        .wrapper_info {
            lost-column: 1/1 !important;
            .info_content {
              div {
                margin-left: 20px !important;
                margin-right: 20px !important;
              }
            }
        }
        .todo_wrapper {
            lost-column: 1/1 !important;
        }
        .wrapper_todo {
            lost-column: 1/1 !important;
            margin-top: 50px;
            .todo_item {
                margin:  20px !important;
                // padding: 0 5px;
                // h5 {
                //     margin: 0;
                //     margin-left: 5px;
                //     height: 50px;
                //     letter-spacing: 0;
                //     font-size: 14px;
                //     line-height: 50px;
                //     display: inline-block;
                // }
            }
        }
    }
}