.languageSwitcher__button {

}

.languageSwitcher__button--selected {

}

.languageSwitcher_current {
    float: left;
}

.languageSwitcher {
    position: relative;
    lost-utility: clearfix;
    span {
        vertical-align: middle;
        display: inline-block;
        height: 30px;
        padding-left: 5px;
        padding-top: 3px;
    }
}

.languageSwitcher_dropdown {
    background: white;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    width: 200px;
    top: 40px;
    left: -80px;
    z-index: 99999;
    display: none;
    &.active {
        display: block;
    }
    button {
        display: block;
        height: 30px;
        border: none;
        background: transparent;
        font-size: 14px;
        width: 100%;
        text-align: left;
        margin: 5px 0;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background: #f3f3f3;
        }
    }
}