.faircoin_section {
    lost-utility: clearfix;
    // lost-utility: edit; 
    background: #2A3C62;
    margin-top: 80px;
    .section_wrapper {
        lost-offset: 1/5;
        lost-column: 3/5;
        // padding: 40px;
        margin: 80px 0;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 2px 30px rgba(37,37,37, .6);
        .wrapper {
            padding: 40px;
        }
        h1 {
            margin: 0;
            font-weight: 200;
            font-style: italic;
            font-size: 46px;
            line-height: 60px;
            letter-spacing: 2px;
            b {
                font-weight: 800;
            }
        }
        h3 {
            margin: 0;
            font-size: 18px;
            font-style: italic;
            font-weight: 200;
            margin-top: 10px;
        }
        h5 {
            margin: 0;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .faircoin_actions {
        margin-top: 40px;
        margin-bottom: 40px;
        a {
            display: inline-block;
            height: 40px;
            border: none;
            padding: 0 20px;
            margin-right: 10px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 600;
            line-height: 40px;
            &.good {
                background: #59C25B;
                border-radius: 2px;
                color: white;
                font-weight: 600;
                letter-spacing: 1px;
            }
            &.inline {
                text-decoration: underline;
                font-weight: 600;
                background: transparent;
                color: #333;
            }
        }
    }
    .wrapper_desc {
        lost-column: 7/7;
        hr {
            color: #dadada;
            background-image: none;
        }
    }
    .faircoin_data {
        lost-column: 3/7;
        .data_item {
            display: inline-block;
            margin-right: 50px;
            &:last-of-type {
                margin-right: 0;
            }
            h1 {
                margin: 0;
                font-size: 32px;
                font-weight: 700;
                font-style: normal;
            }
            h5 {
                margin: 0
            }
        }
    }
}

@media (max-width: 800px) {
    .faircoin_section {
        // lost-utility: edit; 
        padding: 40px 20px;
        .section_wrapper {
            lost-column: 1/1;
            margin: 60px 0;
        }
        .wrapper_desc {
            lost-column: 1/1;
        }
        .faircoin_data {
            display: none;
        }
    }
}