.page_header {
    height: 500px;
    background: #919191;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover; 
    &.tools {
        background-image: url('./tools.jpg')
    }
    .page_title {
        font-size: 46px;
        margin: 0;
        font-weight: 700;
        letter-spacing: 2px;
        padding-top: 250px;
        color: white;
    }
}

.page_body {
    lost-column: 1/2;
    lost-offset: 1/4;
    margin-top: 40px;
    margin-bottom: 100px;
    blockquote {
        border-left: 3px solid rgba(0,0,0,.84);
        padding-left: 20px;
        margin-left: -23px;
        font-family: "Georgia", "Cambria", "Times New Roman",Times,serif;
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: italic;
        font-size: 21px;
        line-height: 35px;
        text-align: left;
    }
    p {
        font-size: 18px;
        line-height: 30px;
        color: #13102C;
    }
    h3 {
        font-size: 28px;
        line-height: 40px;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h6 {
        margin: 10px 0;
        background: #F5F5E9;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
        padding: 5px 20px;
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: underline;
        display: inline-block;
        border-radius: 3px;
        position: relative;
        padding-left: 40px;
        &:before {
            position: absolute;
            content: "";
            background-image: url('../../assets/images/link.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            display: block;
            top: 10px;
            left: 10px;
        }
        a {
            color: #13102C;
        }
    }
    
}

.page_tools {
    lost-column: 8/10;
    lost-offset: 1/10;
    margin-top: 40px;
    margin-bottom: 100px;
}
.body_tools {
    lost-utility: clearfix;
    .tools_item {
        lost-column: 1/3;
        background: #f5f5f5;
        border-radius: 3px;
        margin-bottom: 20px;
        h2 {
            margin: 0;
            padding: 10px;
            font-size: 23px;
            line-height: 35px;
        }
        p {
            margin: 0;
            padding: 0 10px;
            font-size: 14px; 
        }

        a {
            margin: 0;
            padding: 0 10px;
            font-size: 14px; 
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 10px;
            display: inline-block;
            height: 30px;
            cursor: pointer;
            background: #393849;
            border-radius: 0.125rem;
            color: white;
            font-weight: 600;
            font-size: 0.875rem;
            padding: 0 1.25rem;
            line-height: 1.875rem;
            letter-spacing: 0.0625rem;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
}


@media (max-width: 800px) {
    .page_body {
        lost-column: 8/10;
        lost-offset: 1/10;
    }
}


ul {
    li {
        ul {
            list-style-type: circle;
            margin-top: 15px;
            margin-bottom: 15px;
            
        }
    }
}