.work_section {
    lost-utility: clearfix;
    // lost-utility: edit; 
    padding-top: 100px;
    background: #2A3C62;
    .section_wrapper {
        lost-column: 8/10;
        lost-offset: 1/10;
        .wrapper_image {
            lost-column: 5/10;
            position: relative;
        }
        .wrapper_diagram {
                background: url('../../assets/images/diagram.jpg');
                background-size: contain;
                background-color: #F6F6F5;
                height: 720px;
                border-radius: 3px;
                margin-top: -20px;
                display: block;
                position: relative;
                background-repeat: no-repeat;
                z-index: 2;
                box-shadow: 0 2px 24px rgba(0,0,0,.3);
                // left: 60px;
                // margin-left: -60px;
                // right: 0;
                bottom: -60px;
                height: 0;
                padding-bottom: 130.25%;
        }
        .wrapper_info {
            // 4/6
            lost-column: 1/2;
            // padding-left: 40px;
            background: none;
            p {
                font-size: 18px;
                color: white;
                line-height: 30px;
                text-align: right;
            }
            h1 {
                font-size: 46px;
                font-style: italic;
                font-weight: 200;
                color: #fff;
                text-align: right;
                b {
                    font-weight: 800;
                    font-style: normal;
                }
            }
        }
    }
}


@media (max-width: 800px) {
    .work_section {
        // lost-utility: edit; 
        padding-top: 50px;
        padding: 20px;
        .section_wrapper {
            lost-column: 1/1;
            .wrapper_image {
                lost-column: 1/1;
                position: relative;
            }
            .wrapper_diagram {
                    margin-top: 0px;
                    bottom: 0px;
            }
            .wrapper_info {
                // 4/6
                lost-column: 1/1;
                p {
                    text-align: left;
                }
                h1 {
                    text-align: left;
                }
            }
        }
    }
}