.work_section {
    lost-utility: clearfix;
    // lost-utility: edit; 
    padding-top: 100px;
    background: #FE4A49;
    .section_wrapper {
        .wrapper_image {
            lost-column: 1/3;
            position: relative;
        }
        .wrapper_diagram_overlay {
            height: 600px;
            background: #641414;
            border-radius: 3px;
            position: absolute;
            z-index: 1;
            top: 10px;
            bottom: 0;
            right: -100px;
            left: 40px;
        }
        .wrapper_diagram {
                background: url('../../assets/images/diagram.png');
                background-size: contain;
                background-color: #F6F6F5;
                height: 600px;
                border-radius: 3px;
                margin-top: -20px;
                display: block;
                position: relative;
                background-repeat: no-repeat;
                z-index: 2;
                left: 60px;
                margin-left: -60px;
                right: 0;
                top: 60px;
        }
        .wrapper_info {
            // 4/6
            lost-column: 3/6;
            lost-offset: 1/6;
            background: none;
            p {
                font-size: 18px;
                color: white;
                line-height: 30px;
            }
            h1 {
                font-size: 46px;
                font-style: italic;
                font-weight: 200;
                color: #fff;
                b {
                    font-weight: 800;
                    font-style: normal;
                }
            }
        }
    }
}